.movieCard {
  padding: 1em;
  margin: 0 1em 1em;
  width: 15.5em;
  height: 100px;
  border: 1px solid var(--darkText);
  font-family: var(--font);
  border-radius: 20px;
  text-align: center;
}

.movieCard:hover {
  cursor: pointer;
  transform: scale(1.1);
}
