.header {
  width: 100vw;
  height: 50px;
  background-color: rgb(0, 0, 0);
  font-family: var(--font);
  display: flex;
  column-gap: 420px;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  z-index: 1;
}

.header_image {
  height: 100%;
  width: 50px;
}

.header_links {
  display: flex;
}

.header_links h2 {
  color: var(--colorText);
  font-size: 2em;
}

.header_links h2:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.header_link {
  margin: 0 60px;
  text-decoration: none;
  font-family: var(--font);
  color: var(--colorText);
  font-size: 1.5em;
}

.header_image_user {
  height: 100%;
}
