<nav class="mainLayoutNavbar">
  <h3 class="mainLayoutNavbar_link"
      [routerLink]="'/users'"
      [routerLinkActive]="'mainLayoutNavbar_link_active'">
    USERS</h3>
  <h3 class="mainLayoutNavbar_link"
      [routerLink]="'/posts'"
      [routerLinkActive]="'mainLayoutNavbar_link_active'">
    POSTS</h3>
  <h3 class="mainLayoutNavbar_link"
      [routerLink]="'/comments'"
      [routerLinkActive]="'mainLayoutNavbar_link_active'">
    COMMENTS</h3>
  <h3 class="mainLayoutNavbar_link"
      [routerLink]="'/todos'"
      [routerLinkActive]="'mainLayoutNavbar_link_active'">
    TODOS</h3>
</nav>

