.mainNavigation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px 0 20px;
  text-align: center;
  background-color: mediumpurple;
  border-bottom: 1px solid black;
}

.mainNavigation_link {
  color: indigo;
  text-decoration: none;
  font-size: 1.5em;
}

.mainNavigation_active {
  color: lightcyan;
  transform: scale(1.1);
}
