.movieCard {
  margin: 0 1em;
  width: 17em;
  opacity: .8;
}

.movieCard_title {
  font-family: var(--font);
  color: var(--darkText);
  text-align: center;
}

.movieCard:hover {
  cursor: pointer;
  transform: scale(1.07);
  opacity: 1;
}

.movieCard_image {
  width: 100%;
  box-shadow: 0 0 1em black;
}

.movieCard_rating:before {
  background-image: url("src/app/images/rating_star.png");
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
}

.movieCard_rating {
  position: relative;
  color: white;
  -webkit-text-stroke: 1px var(--colorText);
  top: 40px;
  left: 10px;
}

