.movieCard {
  margin: 0 1em;
  width: 13em;
  opacity: .8;
}

.movieCard_title {
  font-family: var(--font);
  text-align: center;
}

.movieCard_title_dark {
  color: var(--lightText);
}

.movieCard_title_light {
  color: var(--darkText);
}

.movieCard:hover {
  cursor: pointer;
  transform: scale(1.07);
  opacity: 1;
}

.movieCard_image {
  width: 100%;
  box-shadow: 0 0 1em var(--darkBackground);
}

.movieCard_rating:before {
  background-image: url("src/app/images/rating_star.png");
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
}

.movieCard_rating {
  position: relative;
  color: var(--lightText);
  -webkit-text-stroke: 1px var(--colorText);
  top: 40px;
  left: 10px;
}

