@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --darkText: rgb(40,40,40);
  --darkBackground: rgb(40,40,40);
  --lightText: rgb(240,240,240);
  --lightBackground: rgb(160,160,160);
  --colorText: deepskyblue;
  --font: 'Karla', sans-serif;
}

